h1{
    background:  linear-gradient(90deg,rgb(0, 0, 0),orangered,rgb(255, 0, 0),rgb(255, 251, 1), rgb(255, 0, 0),rgb(255, 217, 0),rgb(0, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}